<h1>Auntie Anne's Awesome Antique App</h1>

<ul>
  <li><a href='/products/new'>Add a Product</a></li>
  <li><a href='/products'>View All Products</a></li>
  <li><a href='/purchases/new'>Make a Purchase</a></li>
</ul>
