<form action="/products" method="post">
  <label for="name">Name of Product:</label>
  <input type="text" name="name" id="name">
  <label for="price">Price of Product:</label>
  <input type="text" name="price" id="price">

  <button type="submit">Add Product</button>
</form>
